<div class="table-container" role="table" aria-label="Destinations">
  <div class="flex-table row" role="rowgroup">
    <div class="flex-row first" role="cell"> Canada</div>
    <div class="flex-row" role="cell">Vancouver to Victoria and Butchart Gardens Tour </div>
    <div class="flex-row" role="cell">23 Sep, 1:30p.m.</div>
    <div class="flex-row" role="cell">US$387</div>
  </div>
  <div class="flex-table rowspan" role="rowgroup">
    <div class="flex-row first">
      <p><span class="flag-icon flag-icon-us"></span> United States</p>
    </div>
    <div class="column">
      <div class="flex-row">
        <div class="flex-cell" role="cell">Napa and Sonoma Wine Country Tour</div>
        <div class="flex-cell" role="cell">5 Sep, 9p.m.</div>
        <div class="flex-cell" role="cell">US$600</div>
      </div>
      <div class="flex-row" role="rowgroup">
        <div class="flex-cell" role="cell">Day Trip to Martha's Vineyard</div>
        <div class="flex-cell" role="cell">12 Sep, 5p.m.</div>
        <div class="flex-cell" role="cell">US$600</div>
      </div>
      <div class="flex-row" role="rowgroup">
        <div class="flex-cell" role="cell">Grand Canyon West Rim and Hoover Dam Tour</div>
        <div class="flex-cell" role="cell">5 Sep, 2p.m.</div>
        <div class="flex-cell" role="cell">US$550</div>
      </div>
    </div>
  </div>
</div>